<div class="detail__container">
    <div class="detail__header-container">
        <div class="detail__header">
            <button mat-raised-button class="return-arrow" (click)="return()">
                <mat-icon>arrow_back</mat-icon>
            </button>
            <h2 class="detail__title">{{ data.name | titlecase }}</h2>
        </div>
        <div class="detail__sub-header">
            <div class="detail__type">
                {{ data.type | titlecase }}
            </div>
            <div class="detail__coostellation">
                {{ data.constellation | titlecase }}
            </div>
            <div class="detail__coordonate" *ngIf="data.right_ascension && data.declination">
                RA : {{ data.right_ascension }} | Dec : {{ data.declination }}
            </div>
        </div>
    </div>
    <div class="detail__content">
        <div *ngFor="let info of infoSup" class="detail__infosup">
            <span>{{ info[0] }}</span><span><br>{{ info[1] }}</span>
        </div>
    </div>
    <div class="detail__footer">
        <button mat-raised-button (click)="handleGoTo()">
            <mat-icon>my_location</mat-icon> GoTo
        </button>
    </div>
</div>