.container-catalogue {
    position: relative;
    width: 100vw;
    max-height: 90vh;
}

table {
    width: 100%;
    height: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td, th {
    text-align: center;
    width: 25%;
}

.paginator-object {
    padding: 0.5px 0;
    font-size: 10px;
}

mat-form-field {
    padding: 10px 0;
    background-color: white;
}

.filter {
    background-color: white;
}