<div class="container-catalogue">
  <div class="mat-elevation-z8">
    <div class="filter">
      <form (ngSubmit)="handleSubmitFilter()" [formGroup]="filterForm" class="filter__form">
        <mat-form-field class="filter__search">
          <input matInput placeholder="Search" formControlName="search">
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
        <mat-accordion class="filter__menu">
          <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Filter
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-button-toggle-group class="catalogue__selector" (change)="filterCatalogueChange($event)"
              formControlName="catalogue">
              <mat-button-toggle *ngFor="let cata of filterCatalogue" class="catalogue__selector--button"
                value="{{ cata }}"><img src="../../assets/{{ cata }}-icon.png" class="filter-icon"></mat-button-toggle>
            </mat-button-toggle-group>
            <div class="catalogue__magnitude">
              <span>Magnitude : </span>
              <mat-slider thumbLabel="true" max="100" min="-30" formControlName="magnitude" invert="true"></mat-slider>
            </div>
            <div class="filter__other">
              <mat-form-field class="filter__const">
                <mat-label>Constelation</mat-label>
                <mat-select formControlName="constellation">
                  <mat-option [value]=""></mat-option>
                  <mat-option *ngFor="let const of filterConstellations" [value]="const">{{ const }}</mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field class="filter__type">
                <mat-label>Type</mat-label>
                <mat-select formControlName="type">
                  <mat-option [value]=""></mat-option>
                  <mat-option *ngFor="let type of filterTypes" [value]="type">{{ type }}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <mat-slide-toggle class="filter__visible" formControlName="visible">
              Visible objects
            </mat-slide-toggle>
            <button mat-raised-button class="filter__button" type="submit"
              [disabled]="filterForm.invalid">Apply</button>
            <button mat-raised-button (click)="handleResetFilter()" class="filter__button" type="button">Reset</button>
          </mat-expansion-panel>
        </mat-accordion>
      </form>
    </div>
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let row"> {{row.name | titlecase}} </td>
      </ng-container>
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
        <td mat-cell *matCellDef="let row"> {{row.type}} </td>
      </ng-container>
      <ng-container matColumnDef="const">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Constellation </th>
        <td mat-cell *matCellDef="let row"> {{row.constellation}} </td>
      </ng-container>
      <ng-container matColumnDef="mag">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Magnitude </th>
        <td mat-cell *matCellDef="let row"> {{row.magnitude}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="handleObject(row.name)"></tr>
    </table>
    <div *ngIf="!isDataLoaded" class="catalogue__loader">
      <mat-spinner></mat-spinner>
    </div>
    <mat-paginator class="paginator-object" [pageSizeOptions]="[5, 10, 50, 100]"></mat-paginator>
  </div>
</div>