<div class="container-mobile">
  <div class="container-setup">
    <div class="setup__header">
      <button mat-raised-button class="return-racket" (click)="handleReturn()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <h1>Callibration</h1>
    </div>
    <div class="setup__precision">
      <h3>Precision</h3>
      <mat-progress-bar mode="determinate" [value]="setupService.actualSetup.precision"></mat-progress-bar>
    </div>
    <div class="setup__point">
      <div>
        <h3>Celestial pole</h3>
      </div>
      <div>
        <button mat-icon-button (click)="handleFirstPosition()">
          <mat-icon>gps_fixed</mat-icon>
        </button>
      </div>
      <div>
        <!-- <mat-form-field>
          <mat-label>Second star</mat-label>
          <mat-select [disabled]="!setupService.actualSetup.isCelestialPoleSet"
            (value)="setupService.actualSetup.secondStar">
            <mat-option *ngFor="let star of starSelect" value="{{star.id}}">{{star.proper}}</mat-option>
          </mat-select>
        </mat-form-field> -->
        <form>
          <mat-form-field>
            <mat-label>Second star</mat-label>
            <input type="text" matInput [formControl]="selectSecondStar" [matAutocomplete]="auto" [disabled]="!setupService.actualSetup.isCelestialPoleSet"
              (value)="setupService.actualSetup.secondStar">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngFor="let star of starSelect" value="{{star.id}}">{{star.name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
      </div>
      <div>
        <button mat-icon-button (click)="handleSecondPosition()"
          [disabled]="!setupService.actualSetup.isCelestialPoleSet">
          <mat-icon>gps_fixed</mat-icon>
        </button>
      </div>
      <div>
        <!-- <mat-form-field>
          <mat-label>Third star</mat-label>
          <mat-select [disabled]="!setupService.actualSetup.isSecondStarSet"
            (value)="setupService.actualSetup.thirdStar.name">
            <mat-option *ngFor="let star of starSelect" value="{{star.id}}">{{star.proper}}</mat-option>
          </mat-select>
        </mat-form-field> -->
        <form>
          <mat-form-field>
            <mat-label>Third star</mat-label>
            <input type="text" matInput [formControl]="selectThirdStar" [matAutocomplete]="auto" [disabled]="!setupService.actualSetup.isSecondStarSet" (value)="setupService.actualSetup.thirdStar.name">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngFor="let star of starSelect" value="{{star.id}}">{{star.name}}</mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
      </div>
      <div>
        <button mat-icon-button (click)="handleThirdPosition()" [disabled]="!setupService.actualSetup.isSecondStarSet">
          <mat-icon>gps_fixed</mat-icon>
        </button>
      </div>
    </div>
    <div class="setup__command">
      <button mat-raised-button (click)="handleReset()">Reset</button>
      <button mat-raised-button [disabled]="!setupService.actualSetup.isSecondStarSet" (click)="handleDone()">GO
        !</button>
    </div>
  </div>
</div>