<div class="container-info">
  <mat-card class="info">
    <span class="info__version">Firmware Version: {{ firmwareVersion }}</span>
    <span class="info__version">App Version: {{ appVersion }}</span>
    <div class="contributors">
      <span class="contributors__title">Creator :</span>
      <span class="contributors__name" *ngFor="let contrib of contributors">{{ contrib }}</span>
    </div>
    <div class="command-button">
      <button mat-raised-button (click)="handleDisconnect()"><mat-icon>remove_circle</mat-icon></button>
      <button mat-raised-button disabled><mat-icon>power_off</mat-icon></button>
    </div>
  </mat-card>
</div>