.container-info {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info__version {
    margin: 10px 0;
}

.contributors {
    margin: 10px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.contributors span {
    margin: 2px 0;
}

.contributors__name {
    margin: 2px 0;
    grid-column-start: 2;
}

.command-button {
    width: 100%;
    display: flex;
    justify-content: space-around;
}