/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container-mobile {
    width: 100vw;
    height: 100vh;
    background-image: url("./assets/orion-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.racket-variable {
    --cross_size: 60px;
    --cross_gap: 10px;
    --cross_color: white;
    --cross_border_radius_ext: 50%;
    --cross_border_radius_int: 2px;
    --step_input_size: 30px;
}

.mat-tab-label-container {
    background-color: white;
}

.mat-tab-header {
    border: none;
}

.mat-tab-labels {
    display: grid !important;
    grid-template-columns: repeat(3, 1fr);
    height: 10vh;
}

.mat-tab-label {
    height: 100% !important;
}

.container--loader {
    position: absolute !important;
    z-index: 1;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mat-accordion .mat-expansion-panel{
    border-radius: 0 !important;
}

mat-form-field {
    padding: 5px 0 0 0 !important;
    margin-bottom: -10px
}

.mat-cell {
    padding: 0 !important;
}

.mat-row {
    height: 40px !important;
}

.mat-header-cell {
    padding: 0 !important;
}