<div class="container-racket racket-variable">
  <div class="directionnal-cross">
    <button mat-raised-button class="directionnal-cross__up" (click)="handleMove('up')">
      <mat-icon>expand_less</mat-icon>
    </button>
    <button mat-raised-button class="directionnal-cross__left" (click)="handleMove('left')">
      <mat-icon>chevron_left</mat-icon>
    </button>
    <button mat-raised-button class="directionnal-cross__stop" (click)="handleStop()">
      <mat-icon>cancel</mat-icon>
    </button>
    <button mat-raised-button class="directionnal-cross__right" (click)="handleMove('right')">
      <mat-icon>chevron_right</mat-icon>
    </button>
    <button mat-raised-button class="directionnal-cross__down" (click)="handleMove('down')">
      <mat-icon>expand_more</mat-icon>
    </button>
    <button mat-raised-button class="tracking-button" (click)="handleTrack()">
      <mat-icon>fiber_manual_record</mat-icon>
    </button>
    <button mat-raised-button class="add-object" (click)="handleAdd()">
      <mat-icon>add</mat-icon>
    </button>
    <button mat-raised-button class="setup" (click)="handleSetup()">
      <mat-icon>build</mat-icon>
    </button>
  </div>

  <mat-card>
    Speed :
    <mat-slider [(ngModel)]="speed"></mat-slider>
  </mat-card>

  <mat-card class="coordinate-card">
    <div class="coordinate-card__header">
      <b>Position :</b>
      <div>
        <button mat-icon-button [disabled]="!isPositionUpdate" (click)="updatePosition()"><mat-icon>replay</mat-icon></button>
        <button mat-icon-button (click)="toggleRealTimePosition()"><mat-icon>{{toggleIconRealTime}}</mat-icon></button>
      </div>
    </div>
    <div class="coordinate-card__value">
      <span>R. A. / Dec</span><span>{{ coordonite.ra }}</span><span>{{ coordonite.dec }}</span>
      <span>Alt / Az</span><span>{{ coordonite.alt }}</span><span>{{ coordonite.az }}</span>
    </div>
  </mat-card>
</div>