.form-connect {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-connect h3 {
    margin: 0;
}

.form-connect button {
    margin-top: 0.83em;
}

.container-connect {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
}

.error__message {
    border: 1px rgb(216, 0, 0) solid;
    border-radius: 3px;
    background-color: rgba(214, 24, 24, 0.726);
    color: white;
    padding: 4px;
    font-size: 20px;
    font-weight: bold;
}

.error {
    margin: 15px;
}