.form-connect {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-connect h3 {
    margin: 0;
}

.form-connect button {
    margin-top: 0.83em;
}

.container-connect {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
}